<div class="container">
  <span>What was your the best memory?</span>
  <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
    <%= f.text_field :memory %>
    <%= f.submit 'Next', :class => 'btn btn-primary' %>
  <% end %>
</div>
