<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span>10 words that describe your life so far</span>
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <span>What was your the best memory?</span>
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <span>The music you want to play at the funeral</span>
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%# <div data-controller="carousel" class="swiper-container">
  <div class="swiper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div> %>
<%# /<h1></h1> %>
<%# <%= simple_form_for @funeral do |f| %>
  <%# <%= f.input : music %>
  <%# <%= f.submit "Submit review", class: "btn btn-primary" %>
  <%# <% end %>
