<div class="container">
  <div class="card-contents">
        <p> <%= Funeral::QUESTIONS[:no_invite] %></p>
    <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.text_field :no_invite %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
