<div class="container">
  <div class="card-contents">
    <p>Is there anything you wanted to say but couldn’t?</p>
    <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.text_field :sending_message %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
