<div class="container">
  <div class="card-contents">
    <p> <i class="bi bi-journal-text"></i> <%= Funeral::QUESTIONS[:ten_words] %> <i class="bi bi-journal-text"></i> </p>
    <%= simple_form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.input :tag_list,
                value_method: :name,
                 legend_tag: false,
                  as: :check_boxes,
                  collection: ActsAsTaggableOn::Tag.all,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
