<div class="container">
  <div class="card-contents">
    <p> <%= Funeral::QUESTIONS[:ten_words] %></p>
    <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.text_field :ten_words %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
