<div class="container">
  <div class="card-contents">
    <p><i class="bi bi-file-earmark-medical-fill"></i> <%= Funeral::QUESTIONS[:unaware_state] %> <i class="bi bi-file-earmark-medical-fill"></i> </p>
    <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.text_field :unaware_state %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
