<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Wille[vɪ́lǝ]</h1>
    <p>We support you to think about your final day and plan together!</p>
    <div class="btn btn-primary">
      <%= link_to "Start now", funeral_path(:ten_words) %>
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>
</div
