<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Wille[vɪ́lǝ]</h1>
    <p>It’s good to talk</p>
    <%= link_to "Start now", wills_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div
