<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Wille[vɪ́lǝ]</h1>
    <p>Start thinking about the big questions</p>
    <div class="button">
      <%= link_to "Ready?", funeral_path(:ten_words) %>
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>
</div
