<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Wille[vɪ́lǝ]</h1>
    <h2>How would you want to be remembered?</h2>
    <h3>Start thinking about the big questions</h3>
    <div class="btn btn-primary">
      <%= link_to "Ready?", funeral_path(:ten_words) %>
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>
</div
