.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), image-url("landing2.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 10px;
    margin-bottom: 20px;
  }

  h2, h3{
    color: white;
  }
  h3{
    margin-bottom: 25px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

.button{
  padding: 15px 30px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: #4cc9f0;
  color: white;
  margin: 0px 34px;
}

.button a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.button:hover{
  transform: scale(1.1, 1.1);
}

}
