.navbar-wagon {
  justify-content: space-between;
  background: #7E73FF;
  padding-bottom: 0px !important;
  width: 100%;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 42px;
}

.navbar {
  padding: 0;
  height: 45px;
}

.nav-item.dropdown img{
  width: 36px !important;
  margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
   color: whitesmoke;
}

.navbar-nav {
      align-items: center;
}
